*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# 🔒 Android signing keys
*.jks
*.keystore

# 🔒 Release signing files (key properties)
key.properties
signing.properties

# 🔒 Sensitive configs
*.keystore
*.jks
**/release/*.keystore
**/release/*.jks
